<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (C) 2021, 1C-Soft LLC and others.
   
    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        1C-Soft LLC - initial API and implementation
 -->

<plugin>
   <extension
         point="com.e1c.g5.v8.dt.check.checks">
      <category
            category="com.e1c.g5.v8.dt.check.edt.checks"
            description="%category.form.description"
            id="com.e1c.dt.check.form"
            title="%category.form.title">
      </category>
      <check
            category="com.e1c.dt.check.form"
            class="com.e1c.dt.check.internal.form.ExecutableExtensionFactory:com.e1c.dt.check.form.DataPathReferredObjectCheck">
      </check>
      <check
            category="com.e1c.dt.check.form"
            class="com.e1c.dt.check.internal.form.ExecutableExtensionFactory:com.e1c.dt.check.form.NamedElementNameCheck">
      </check>
      <check
            category="com.e1c.dt.check.form"
            class="com.e1c.dt.check.internal.form.ExecutableExtensionFactory:com.e1c.dt.check.form.InvalidItemIdCheck">
      </check>
   </extension>
   <extension
         point="com.e1c.g5.v8.dt.check.fixes">
      <fix
            class="com.e1c.dt.check.internal.form.fix.DataPathRemoveFix">
      </fix>
      <fix class="com.e1c.dt.check.internal.form.ExecutableExtensionFactory:com.e1c.dt.check.internal.form.fix.InvalidItemIdFix"/>
   </extension>
    <extension point="com._1c.g5.v8.dt.migration.cleanup_project_sources">
        <object class="com.e1c.dt.check.internal.form.ExecutableExtensionFactory:com.e1c.dt.check.internal.form.cleanup.InvalidItemIdCleanup"/>
    </extension>
    <extension point="org.eclipse.ui.trace.traceComponents">
        <component id="com.e1c.dt.check.form.component" label="%traceComponentLabel">
            <bundle consumed="true" name="com.e1c.dt.check.form"></bundle>
        </component>
    </extension>
</plugin>
